<div class="container-fluid bg-dark">
  <div class="container bg-dark">
    <div class="row mt-4" style="height: 500px;">
      <div class="col"></div>
      <div class="col-md-6 shadow bg-dark bg-gradient rounded">
        <div class="card bg-body-secondary mb-4 mt-4">
          <h4 class="text-black text-center fs-1 ps-3 pt-2 pb-2">To Do List</h4>
        </div>

        <div class="shadow">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Your task here">
            <button class="btn btn-outline-success" type="button">+</button>
          </div>
        </div>

        <h4 class="text-light mt-4">Tasks</h4>

        <div class="" style="overflow-y: auto; height: 350px;">
        <div class="m-3">
          <div class="p-2 shadow border rounded">
            <div class="input-group row ps-3">
              <div class="card col-md-9 border-0">Learn Angular</div>
              <button class="btn btn-outline-primary col">Edit</button>
              <div class="btn btn-outline-danger col">x</div>
            </div>
          </div>
        </div></div>
      </div>
      <div class="col"></div>
    </div>
  </div>
</div>
