.scrollbar-style::-webkit-scrollbar {
  width: 10px;
}

.scrollbar-style::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.scrollbar-style::-webkit-scrollbar-thumb {
  background: #888;
}

.scrollbar-style::-webkit-scrollbar-thumb:hover {
  background: #555;
}
